html{
  overflow: hidden;
  scroll-behavior: smooth;
}

body{
  /* background-color: black; */
  margin: 0;
  font-family: 'Caladea', serif;
  /* height: 300vh; */
}

#title_the{
  font-size: 30px;
}

#title_final{
  font-size: 60px;
  letter-spacing: 0.4em;
}

#title_blessing{
  font-size: 60px;
  letter-spacing: 0.4em;
}

/* .brushGraphGroup .brushInterXGroup .brush{
  position: sticky;
  position: -webkit-sticky;
  top: 0vh;
  z-index: 5;
} */

.brush .selection{
  fill: black;
}

.bg{
  width: 100vw;
  height: 50vh;
}

#container{
  width: 100vw;
  height: 300vh;
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
}

.downArrow{
  position: fixed;
  bottom: 2vh;
  right: 5vw;
  color: #aaaaaa;
  font-size: 50px;
}

.upArrow{
  position: fixed;
  bottom: 7.8vh;
  right: 5vw;
  color: #aaaaaa;
  font-size: 50px;
}

.downArrow:hover{
  color: white;
  cursor: pointer;
  font-size: 51px;
}

.upArrow:hover{
  color: white;
  cursor: pointer;
  font-size: 51px;
}

#section_link2_1{
  display: none;
}

#section_link3_2{
  display: none;
}

#section_link2_3{
  display: none;
}

#img_mic{
  position: absolute;
  top: 0;
  left: 20vw;
  width: 500px;
  height: 120vh;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}

#full_statement{
  font-family: "Helvetica Neue";
}
