html{
  scroll-behavior: smooth;
}

body{
  /* background-color: black; */
  margin: 0;
  font-family: 'Caladea', serif;
  height: 300vh;
}

#title_the{
  font-size: 30px;
}

#title_final{
  font-size: 60px;
  letter-spacing: 0.4em;
}

#title_blessing{
  font-size: 60px;
  letter-spacing: 0.4em;
}

/* .brushGraphGroup .brushInterXGroup .brush{
  position: sticky;
  position: -webkit-sticky;
  top: 0vh;
  z-index: 5;
} */

.brush .selection{
  fill: black;
}

.dataArea{

}

.bg{
  width: 100vw;
  height: 50vh;
}

#container{
  width: 100vw;
  height: 300vh;
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
}

.section_div{

}

#downArrow{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  color: white;
  font-size: 50px;
}

#img_mic{
  position: absolute;
  top: 0;
  left: 38vw;
  width: 300px;
  height: 120vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#full_statement{
  font-family: "Helvetica Neue";
}
